body{
    background-color: #0f172a;
    color: #ffffff;
}
h1{
    text-align: center;
}
h2{
    line-height: 2em;
}
.btn{
    background: #0284c7;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background: #06b6d4;
}